@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Rubik&display=swap');

:root {
    --primary-background-color: #c8c8c8;
    --primary-font-color: #282828;
    --secondary-font-color: #efefef;
    --header-background: #dadada;
    --footer-background: #cacaca;
    --search-bar-background: #ffffff;
    --book-shelf-color: #dfdfdf;
    --books-background: #bababa;
    --box-shadow: 2px 2px 5px #ababab;
    --new-book-form-background: #f5f5f5;
    --submit-button-background: #2D4356;
    --fav-books-background: #f5f5f5;
    --book-info-color: #5f5f5f;
}

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%; /* 1rem = 10px */
}

body {
    background-color: var(--primary-background-color);
    color: var(--primary-font-color);
    font-family: 'Montserrat', sans-serif;
}

body.show-before::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #0008;
    z-index: 1;
}

i {
    cursor: pointer;
}

/* HEADER CONTENT SECTION START */

.header-content {
    background-color: var(--header-background);
    box-shadow: var(--box-shadow);

    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    align-items: center;
    padding: 1em;
    width: 100%;
}

.search-bar-wrapper {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 1em;

    background-color: var(--search-bar-background);
    border-radius: 1em;
}

.search-bar-wrapper label {
    font-size: 2rem;
    padding: 5px;
    display: flex;
    align-items: end;
}


.search-bar-wrapper input {
    border: none;
    background: transparent;
    outline: none;
    padding: 10px;
    font-family: 'Nunito', sans-serif;
}

.bookmarks-and-profile {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: calc(1vw + 10px);
}

.bookmark {
    font-size: 2rem;
}

.user-img {
    width: 40px;
}

.fav-books {
    background-color: var(--fav-books-background);
    width: calc(90vw - 50px);
    height: calc(100vh - 150px);

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border-radius: 1em;
    display: none;
    padding: 1em;
    overflow: auto;
    z-index: 2;
}

.fav-books h2 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 15px;
}

.saved-books-info {
    margin-bottom: 1em;
}

.cancel-button-wrapper {
    font-size: 2rem;
    display: flex;
    justify-content: end;
}

/* HEADER CONTENT SECTION END */

/* MAIN CONTENT SECTION START */

.main-content {
    padding: 0 calc(2vw + 10px);
    padding-top: 2vh;
}

#book-shelf {
    background-color: var(--book-shelf-color);
    box-shadow: var(--box-shadow);
    height: calc(100vh - 140px);

    display: flex;
    flex-direction: column;
    gap: 1.5em;
    padding: calc(1vh + 10px) calc(1vw + 10px);
    border-radius: 1em;
    overflow: auto;
}

.new-book {
    margin-bottom: 1em;
    display: flex;
    justify-content: center;
}

.new-book h2 {
    display: flex;
    gap: 10px;
    cursor: pointer;
}

.new-book i {
    display: flex;
    align-items: center;
}

.new-book-form {
    width: calc(40vw + 100px);
    height: calc(100vh - 100px);
    background-color: var(--new-book-form-background);

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border-radius: 1em;
    padding: 1rem;
    display: none;
    z-index: 2;
}

.book-form-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.book-form-wrapper form {
    display: flex;
    flex-direction: column;
    gap: 2.5em;
    font-size: 1.5rem;
    user-select: none;
}

.book-form-wrapper fieldset {
    display: flex;
    flex-direction: column;
    border: none;
    padding: 0 calc(5vw + 10px);
}

.book-form-wrapper label {
    margin: 0.5rem;
}

.book-form-wrapper input {
    border: none;
    padding: 10px;
    border-radius: 1em;
    box-shadow: 2px 2px 10px #0001;
    font-family: 'Nunito', sans-serif;
    letter-spacing: 0.5px;
}

.new-book-form h2 {
    margin-bottom: calc(0.5vh + 5px);
    font-size: 2rem;
}

.book-form-wrapper .book-status-wrapper {
    display: grid;
    grid-auto-flow: column;
    place-content: center;
    gap: 10px;
}

.book-status-wrapper input[type="checkbox"] {
    box-shadow: none;
}

.book-form-wrapper .button-fieldset {
    padding: 0 calc(8vw + 25px);
}

.submit-button {
    background-color: var(--submit-button-background);
    color: var(--secondary-font-color);
    font-family: 'Montserrat', sans-serif;

    border: none;
    border-radius: 1em;
    padding: 1.5rem;
}

#book-shelf::-webkit-scrollbar {
    display: none;
}

.book {
    background-color: var(--books-background);
    padding: calc(1vh + 5px) calc(1vw + 5px);
    border-radius: 1em;
    display: flex;
}

.book div {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    flex: 1;
}

.book div #book-info-wrapper {
    display: grid;
    grid-auto-flow: row;
    justify-content: start;
    align-content: center;
}

.book div p {
    margin-bottom: 5px;
    font-size: 1.5rem;
    display: flex;
}

.book div p span {
    color: var(--book-info-color);
    font-size: 1.5rem;
    margin-left: 5px;
}

.book div span {
    justify-self: end;
    font-size: 2rem;
    display: flex;
    gap: 1.5em;
}

.book div span i {
    display: flex;
}

/* MAIN CONTENT SECTION END */
